{% load static %}
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top shadow-sm">
    <div class="container">
      <a class="navbar-brand" href="{% url 'blog:index' %}">
        <img src="{% static 'img/logo.png' %}" height="75" class="d-inline-block align-top" alt="">            
      </a>    
      <div 
      class="navbar-toggler" 
      type="button" 
      data-toggle="collapse"
      data-target="#navbarNav" 
      aria-controls="navbarNav" 
      aria-expanded="false"
      aria-label="Toggle navigation"
      >
      <span class="navbar-toggler-icon"></span>
      </div>
      <div class="collapse navbar-collapse" id="navbarNav">
      {% with request.resolver_match.view_name as view_name %}                   
      <ul class="nav nav-pills">
          <li class="nav-item">
          <a class="nav-link {% if view_name  == 'blog:index' %}active{% endif %}" href="{% url 'blog:index' %}">
              Лента записей
          </a> 
          </li>
          <li class="nav-item">
          <a class="nav-link {% if view_name  == 'pages:about' %}active{% endif %}" href="{% url 'pages:about' %}">
              О проекте
          </a> 
          </li>
          <li class="nav-item">
          <a class="nav-link {% if view_name  == 'pages:rules' %}active{% endif %}" href="{% url 'pages:rules' %}">
              Наши правила
          </a> 
          </li>
          {% if not user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link{% if view_name == 'login' %} active {% endif %}" href="{% url 'login' %}">Войти</a>
            </li>
            <li class="nav-item">
              <a class="nav-link{% if view_name == 'users:registration' %} active {% endif %}" href="{% url 'users:registration' %}">Регистрация</a>
            </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link{% if 'profile' in view_name and request.user.username in request.resolver_match.captured_kwargs.values %} active {% endif %}"
              href="{% url 'users:profile' request.user.username %}">Профиль: <b>{{ request.user.username }}</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'blog:post_create' %}">Новая запись</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Выйти</a>
          </li>
          {% endif %}
      </ul>
      {% endwith %}
      </div>     
    </div>
    </nav>
</header>
