{% extends "base.html" %}
{% load static %}
{% load django_bootstrap5 %}
{% block title %}
  {% if '/edit' in request.path %}
    Редактирование записи
  {% elif '/delete' in request.path %}
    Удалить запись
  {% else %}
    Новая запись
  {% endif %}
{% endblock title %}
{% block content %}
{% with data=form.instance %}
  <h2 class="row mt-3">
    {% if '/edit' in request.path %}
      Редактирование записи "{{ data.title }}"
    {% elif '/delete' in request.path %}
      Удаление записи {{ post }}
    {% else %}
      Новая запись
    {% endif %}
  </h2>
  <div class="card col-8">
    <div class="card-header">
      {% if '/edit' in request.path %}
        Редактирование записи "{{ data.title }}"
      {% elif '/delete' in request.path %}
        Удалить запись?
      {% else %}
        Новая запись
      {% endif %}
    </div>
    <div class="card-body">
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% if '/delete' in request.path %}
          <p class="card-text">
            <ul>
              <li>Дата публикации: {{ post.pub_date }}</li>
              <li>Заголовок: {{ post.title }}</li>
              <li>Текст: {{ post.text }}</li>
            </ul>
            {% bootstrap_button button_type="submit" button_class="btn-danger" content="Удалить" %}
        {% else %}
          {% bootstrap_button button_type="submit" content="Сохранить" %}
        {% endif %}
      </form>
    </div>
  </div>
{% endwith %}
{% endblock content %}
