{% extends "base.html" %}
{% load static %}
{% block title %}
Blogeteria. Пост {{ post.date }}
{% endblock title %}  

{% block content %}
<div class="row mt-3">
  <div class="col-12 col-md-6">
    <h5>{{ post.title }}</h5>
    <ul>
      <li>Автор: <a href="{% url 'users:profile' post.author.username %}">{{ post.author }}</a></li>
      <li>Место: {{ post.location }}</li>
      <li>Дата: {{ post.pub_date }}</li>
      {% if not post.is_published %}
        <span class="badge bg-warning text-dark">Пост снят с публикации администратором</span>
      {% endif %}
      {% if post.days_to_publish > 0 %}
        <span class="badge bg-info text-dark">Дней до публикации: {{ post.days_to_publish }}</span>
      {% elif post.days_to_publish == 0 %}
        <span class="badge bg-info text-dark">До публикации меньше 1 дня </span>
      {% endif %}
      <li>Категория: <a href="{% url 'blog:category_posts' post.category.slug %}">{{ post.category }}</a></li>
      {% if not post.category.is_published %}
        <span class="badge bg-warning text-dark">Вся категория снята с публикации администратором</span>
      {% endif %}
    </ul>
  <p>{{ post.text }}</p>      
  </div> 
  <div class="col-12 col-md-6 mb-3">
  {% if post.image %}
    <img 
        class="img-fluid" 
        height="700" width="700"
        src="{{ post.image.url }}"
        >
  {% endif %}
  </div>
  {% if user.is_authenticated and post.author == request.user %}
    <a class="btn btn-outline-primary mt-1" href="{% url 'blog:post_edit' post.id %}">
      Редактировать пост
    </a>
  {% endif %}
</div>     
{% endblock content %}
