{% extends "base.html" %}
{% load static %}
{% block title %}
Blogeteria. Лента записей
{% endblock title %}

{% block content %}
  <div class="row mt-3">
  <h1 class="pb-2 mb-0">Лента записей</h1>
  </div>
  <div class="d-grid gap-2 gap-md-3">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 g-2">
      {% for post in page_obj %}
        <div class="col">
          {% include "includes/post_card.html" %}
        </div>
      {% endfor %}
    </div>
  </div>
  {% include "includes/pagination.html" %}
{% endblock content %}
