{% extends "base.html" %}
{% load django_bootstrap5 %}
{% block title %}
  Редактирование профиля
{% endblock title %}
{% block content %}
  <div class="card col-4 m-3">
    <div class="card-header">
      Редактирование данных пользователя {{ request.user.username }}
    </div>
    <div class="card-body">
      <form method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% bootstrap_button button_type="submit" content="Сохранить" %}
      </form>
    </div>
  </div>
{% endblock %}
